<div class="content-wrapper-with-bottombar">
  <div class="container", style="height: 75%;">
    <div class="row" style="height: 100%; padding-bottom: 10px;">
      <div class="col-12 col-lg-6" style="display: flex; flex-direction: column">

        <div class="page-header">
          <h1><%= @datasource.name %> Data</h1>
          <% if user_signed_in? %>
            <div class="dropdown">
              <a class="profile dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag image_path('empty-profile.png'), class: "avatar" %>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Update profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </div>

        <%= link_to "Control", datasource_data_ownerships_path(@datasource), class: "mr-3", id: "buttoncontrol" %>

        <div class="displays">
          <%# default display %>
          <div class="default-display">
            <h4 class="greysubtitle">Digital footprint</h4>

            <div class="digital-footprint">

              <div class="digital-footprint-score">
                <div class="display-score">
                  <div class="display-score d-flex"  style="margin-right: 50px">
                    <% if @score < 30 %>
                      <h1 class="fatpurpletitle">Bad</h1>
                    <% elsif @score < 60 %>
                      <h1 class="fatpurpletitle">Medium</h1>
                    <% elsif @score < 90 %>
                      <h1 class="fatpurpletitle">Good</h1>
                    <% else %>
                      <h1 class="fatpurpletitle">Very Good</h1>
                    <% end %>
                  </div>
                  <%= image_tag @google.photo, class:"datasource-logo" %>
                </div>
                <div class="meter">
                  <span style="width: <%= @datasource.score %>%; border: 1px solid #7551F3;"></span>
                </div>
                <p class="greytext">Privacy score</p>
              </div>

              <h4 class="purpletitle">Your <%= @datasource.name%> Profile</h4>
              <div class="datasource-content" style="padding-bottom: 10px">
                <p class="greysubtitle">Ads Clicked</p>
                <p class="greysubtitle">405</p>
              </div>
              <div class="datasource-content" style="padding-bottom: 10px">
                <p class="greysubtitle">Companies shared with</p>
                <p class="greysubtitle"> <%= @datasource.data_ownerships.count %></p>
              </div>
              <div class="datasource-content" style="padding-bottom: 10px; border-bottom: 1px solid lightgrey;">
                <p class="greysubtitle">Data uploaded</p>
                <p class="greysubtitle"><%= (@datasource.size / 1000.0).round(2)  %> GB</p>
              </div>
              <div class="datasource-content" style="padding-top: 10px">
                <p class="purpletitle">Data Value</p>
                <p class="purpletitle"><%= @datasource.value.round(2)  %> €</p>

              </div>

            </div>
          </div>

          <%# when the user click on a insight %>
          <div class="insights-display opacity">
            <div class="displays">
              <div class="insights-map" id="locations-insights">
                <div>
                  <h4 class="purpletitle">Location history</h4>
                  <%= render "shared/searchbar" %>
                  <%# START : adding map to show user's locations %>
                  <div id="map"
                    style="width: 100%; height: 600px;"
                    data-markers="<%= @markers.to_json %>"
                    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                  </div>
                  <%# END : adding map to show user's locations %>

                </div>
              </div>
              <div class="insights" id="interests-insights">
                <div>
                  <h4 class="purpletitle">Search history</h4>
                  <div class="card-boxless", style="border-bottom: 1px solid grey">
                    <p class="greysubtitle" style="margin-bottom: 0px">Top searched words</p>
                    <% @chrome_search_words.first(10).each do |word| %>
                      <div class="greytext", style="display: flex; justify-content: space-between; width: 100%">
                        <p class="m-0 mr-5"><%= word.word %></p>
                        <p class="m-0"><%= word.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="card-boxless", style="border-bottom: 1px solid grey">
                    <p class="greysubtitle" style="margin-bottom: 0px">Top visited links</p>
                    <% @chrome_visited_links.first(5).each do |word| %>
                      <div class="greytext", style="display: flex; justify-content: space-between; width: 100%">
                        <p class="m-0 mr-5"><%= word.link %></p>
                        <p class="m-0"><%= word.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>
                </div>

              </div>
              <div class="insights" id="ads-insights">
                <div>
                  <h4 class="purpletitle">Advertisements</h4>
                  <div class="scrollable">
                  </div>
                </div>
              </div>
              <div class="insights" id="yt-insights">
                <div>
                  <h4 class="purpletitle">Youtube</h4>
                  <div class="card-boxless", style="border-bottom: 1px solid grey">
                    <p class="greysubtitle" style="margin-bottom: 0px">Top watched channels</p>

                    <% @youtube_video_channels.first(10).each do |channel| %>
                      <div class="greytext", style="display: flex; justify-content: space-between; width: 100%">
                        <p class="m-0 mr-5"><%= channel.title %></p>
                        <p class="m-0"><%= channel.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="card-boxless", style="border-bottom: 1px solid grey">
                    <p class="greysubtitle" style="margin-bottom: 0px">Top watched videos</p>
                    <% @youtube_video_titles.first(5).each do |video| %>
                      <div class="greytext", style="display: flex; justify-content: space-between; width: 100%">
                        <p class="m-0 mr-5"><%= video.title %></p>
                        <p class="m-0"><%= video.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container">
    <h4 class="greysubtitle" id="data-insights-title">Data Insights</h4>
  </div>

  <div class="carousel">
    <div class="data-insights-container">

      <div class="data-insights-card current" id="digital-footprint">
        <i class="fas fa-shoe-prints"></i>
        <h4 class="whitetitle mt-2 mb-0">Digital</h4>
        <h4 class="whitetitle">footprint</h4>
      </div>

      <div class="data-insights-card" id="locations">
        <i class="fas fa-map-marker-alt"></i>
        <h4 class="whitetitle mt-2">Locations</h4>
      </div>

      <div class="data-insights-card" id="interests">
        <i class="fas fa-search"></i>
        <h4 class="whitetitle mt-2 mb-0">Search</h4>
        <h4 class="whitetitle">history</h4>
      </div>

      <div class="data-insights-card" id="ads">
        <i class="fas fa-dollar-sign"></i>
        <h4 class="whitetitle mt-2">Ads</h4>
      </div>

      <div class="data-insights-card" id="youtube-channels">
        <i class="fab fa-youtube"></i>
        <h4 class="whitetitle mt-2 mb-0">Youtube</h4>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>
