<%= render 'shared/navbar' %>

<div class="content-wrapper-with-bottombar">
  <div class="container", style="height: 80%;">
    <div class="row" style="height: 100%; padding-bottom: 10px;">
      <div class="col-12 col-lg-6" style="display: flex; flex-direction: column">

        <div class="displays">
          <%# default display %>
          <div class="default-display <%= params[:start_date] ? "opacity" : "" %>">
            <h4 class="purplesubtitle">Digital Footprint</h4>

            <div class="digital-footprint">


              <div class="digital-footprint-score">
                <div class="d-flex justify-content-between">
                  <div class="display-score d-flex">
                    <% if @score < 30 %>
                      <h1 class="fatblacktitle">Bad</h1>
                    <% elsif @score < 60 %>
                      <h1 class="fatblacktitle">Medium</h1>
                    <% elsif @score < 90 %>
                      <h1 class="fatblacktitle">Good</h1>
                    <% else %>
                      <h1 class="fatblacktitle">Very Good</h1>
                    <% end %>
                  </div>
                  <%= cl_image_tag @google.photo.key, class:"datasource-logo" %>
                </div>
                <div class="display-score">
                  <p class="greytext">Privacy score: <%= @score.round %></p>
                  <p class="greytext"><%= @datasource.name%></p>
                </div>


                <div class="meter">
                  <span style="width: <%= @score%>%;"></span>
                </div>

                <p class="greytext">Since August</p>
              </div>


              <div class="d-flex justify-content-between mb-4", style="margin-top: 3px;">
                <p class="blacktitle show-title" style="font-size: 18px">Your<%#= @datasource.name%> Profile</p>
                <%= link_to "Control", datasource_data_ownerships_path(@datasource, type_of_ownership: "accessor"), class: "small-button show-title", id: "button-control" %>
              </div>
              <div class="d-flex justify-content-between google-insight-card">
                <div class="d-flex">
                  <div class="data-valuation-logo">
                    <%= image_tag image_path("bills.png"), style: "height: 15px;" %>
                  </div>
                   <p class="greysubtitle show-subtitle">Data Value</p>
                </div>
                <div class="datasource-content" >
                  <p class="greysubtitle show-subtitle-data"><%= @datasource.value.round(1)  %> €</p>
                </div>
              </div>
              <div class="d-flex justify-content-between google-insight-card">
                <div class="d-flex">
                  <div class="data-valuation-logo">
                    <%= image_tag image_path("company.png"), style: "height: 20px;" %>
                  </div>
                   <p class="greysubtitle show-subtitle">Companies shared with</p>
                </div>
                <div class="datasource-content" >
                  <p class="greysubtitle show-subtitle-data"> <%= @datasource.data_ownerships.count %></p>
                </div>
              </div>

              <div class="d-flex justify-content-between google-insight-card">
                <div class="d-flex">
                  <div class="data-valuation-logo">
                    <i class="fas fa-search" style="font-size: 17px;"></i>
                  </div>
                  <p class="greysubtitle show-subtitle">Google Searches</p>
                </div>
                <div class="datasource-content" >
                  <p class="greysubtitle show-subtitle-data"><%= number_with_delimiter(@datasource.chrome_search_words.pluck(:count).sum, :delimiter => ',')  %></p>
                </div>
              </div>
              <div class="d-flex justify-content-between google-insight-card">
                <div class="d-flex">
                  <div class="data-valuation-logo">
                    <i class="fas fa-bullhorn" style="font-size: 15px;"></i>
                  </div>
                   <p class="greysubtitle show-subtitle">Ads Clicked</p>
                </div>
                <div class="datasource-content" >
                  <p class="greysubtitle show-subtitle-data"><%= number_with_delimiter(@datasource.chrome_visited_links.pluck(:count).sum, :delimiter => ',')  %></p>
                </div>
              </div>

              <div class="d-flex justify-content-between google-insight-card", style="margin-bottom: 0px;">
                <div class="d-flex">
                  <div class="data-valuation-logo">
                    <%= image_tag image_path("database.png"), style: "height: 20px;" %>
                  </div>
                   <p class="greysubtitle show-subtitle">Data uploaded</p>
                </div>
                <div class="datasource-content" >
                  <p class="greysubtitle show-subtitle-data"><%= (@datasource.size / 1000.0).round(2)  %> GB</p>
                </div>
              </div>

            </div>

          </div>

          <%# when the user click on a insight %>
          <div class="insights-display <%= params[:start_date] ? "" : "opacity" %>">
            <div class="displays">
              <div class="insights insights-map <%= params[:start_date] ? "" : "opacity" %>" id="locations-insights">
                <div>

                  <div class="card-boxless" style="padding: 0px; position: relative;  ">
                    <p class="subtitle">Top locations</p>
                    <div class="insights-logo" style="right: 15px;"><i class="fas fa-map-marker-alt"></i></div>
                    <%= render "shared/searchbar" %>
                    <%# START : adding map to show user's locations %>
                    <div id="map"
                      data-markers="<%= @markers.to_json %>"
                      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                    </div>
                    <%# END : adding map to show user's locations %>

                  </div>
                </div>
              </div>

              <div class="insights opacity" id="interests-insights">
                <div>

                  <div class="card-boxless">
                    <div class="insights-logo"><i class="fas fa-search"></i></div>
                    <p class="subtitle" style="margin-bottom: 15px;">Top searched words</p>
                    <div class="content" style="justify-content: space-evenly">
                      <% @chrome_search_words.first(3).each do |word| %>
                        <div class="title">
                          <p class="purple-bold" id="center"><%= word.word %></p>
                            <div class="rectangle-container-vertical">
                              <div class="rectangle-fill-vertical" style="height: <%=(word.count*100)/@chrome_search_words.first.count %>%">
                              </div>
                            </div>
                          <p class="purple-bold" id="center"><%= word.count %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="card-boxless">
                    <p class="subtitle">Top visited links</p>
                    <% @chrome_visited_links.first(5).each do |word| %>
                      <div class="content">
                        <div class="title">
                          <p class="header-grey m-0 mr-5"><%= word.link %></p>
                          <div class="rectangle-container-horizontal">
                            <div class="rectangle-fill-horizontal" style="width: <%=(word.count*100)/@chrome_visited_links.first.count %>%">
                            </div>
                          </div>
                        </div>
                        <p class="header-grey m-0" id="link-count"><%= word.count %></p>
                      </div>
                    <% end %>
                  </div>

                </div>
              </div>

              <div class="insights opacity" id="ads-insights">
                <div>

                  <div class="card-boxless">
                    <div class="insights-logo"><i class="fas fa-dollar-sign"></i></div>
                    <p class="subtitle" style="margin-bottom: 15px;">Number of ads viewed</p>
                      <div class="circle-container">
                        <p class="header-grey m-0"><%= @viewed_advertisements.count %></p>
                      </div>
                  </div>

                  <div class="card-boxless", style="margin-top: 15px">
                    <p class="subtitle">Value generated (€)</p>
                    <div class="circle-container">
                      <p class="header-grey m-0"><%= @clicked_advertisements.count*1.5 %></p>
                    </div>
                  </div>

                  <div class="card-boxless", style="margin-top: 15px">
                    <p class="subtitle", style="margin-bottom: 10px">Top clicked ads</p>
                    <% @viewed_advertisements.first(5).each do |ad| %>
                      <div class="content">
                        <p class="header-grey m-0"><%= ad.link %></p>
                        <p class=" header-grey m-0"><%= ad.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>
                </div>
              </div>

              <div class="insights opacity" id="yt-insights" style="z-index: 4;">
                <div>

                  <div class="card-boxless">
                    <div class="insights-logo"><i class="fab fa-youtube"></i></div>
                    <p class="subtitle" style="margin-bottom: 15px;">Top watched channels</p>

                    <% @youtube_video_channels.first(5).each do |channel| %>
                      <div class="content">
                        <div class="title">
                          <p class="header-grey m-0 mr-5"><%= channel.title %></p>
                          <div class="rectangle-container-horizontal">
                            <div class="rectangle-fill-horizontal" style="width: <%=(channel.count*100)/@youtube_video_channels.first.count %>%">
                            </div>
                          </div>
                        </div>
                        <p class="header-grey" id="link-count"><%= channel.count %></p>
                      </div>
                    <% end %>
                  </div>


                  <div class="card-boxless">
                    <p class="subtitle">Top watched videos</p>
                    <% @youtube_video_titles.first(3).each do |video| %>
                      <div class="content" style="display: block">
                        <div class="content">
                          <p class="header-grey"><%= video.title %></p>
                          <p class="header-grey">x<%= video.count %></p>
                        </div>
                        <div class="iframe-container">

                        <!-- Uncomment to display the video picture only
                        <%= link_to video.url do %>
                          <img src="https://img.youtube.com/vi/<%= video.url.match(/=(.*)/)[1]%>/0.jpg" alt="">
                        <% end %>
                        -->
                          <iframe width="560"
                                  height="315"
                                  src="https://www.youtube.com/embed/<%= video.url.match(/=(.*)/)[1]%>"
                                  title="YouTube video player"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen>
                          </iframe>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel" id="show-carousel">
    <div class="data-insights-container" style="margin-top: 5px;">

      <div class="data-insights-card <%= params[:start_date] ? "" : "current" %>" id="digital-footprint">
        <i class="fas fa-shoe-prints" style="transform: rotate(-90deg)"></i>
        <h4 class="blacktitle mt-2 mb-0">Footprint</h4>
      </div>

      <div class="data-insights-card <%= params[:start_date] ? "current" : "" %>" id="locations">
        <i class="fas fa-map-marker-alt"></i>
        <h4 class="blacktitle mt-2 mb-0">Locations</h4>
      </div>

      <div class="data-insights-card" id="interests">
        <i class="fas fa-search"></i>
        <h4 class="blacktitle mt-2 mb-0">Search</h4>
      </div>

      <div class="data-insights-card" id="ads">
        <i class="fas fa-dollar-sign"></i>
        <h4 class="blacktitle mt-2 mb-0">Ads</h4>
      </div>

      <div class="data-insights-card" id="youtube-channels">
        <i class="fab fa-youtube"></i>
        <h4 class="blacktitle mt-2 mb-0">Youtube</h4>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>
