<%= render 'shared/navbar' %>

<div class="content-wrapper-with-bottombar">
  <div class="container", style="height: 83%;">
    <div class="row" style="height: 100%; padding-bottom: 10px;">
      <div class="col-12 col-lg-6" style="display: flex; flex-direction: column">

        <div class="displays">
          <%# default display %>
          <div class="default-display">
            <h4 class="greysubtitle">Digital Footprint</h4>

            <div class="digital-footprint">

              <div class="digital-footprint-score">
                <div class="display-score">
                  <div class="display-score d-flex"  style="margin-right: 50px">
                    <% if @score < 30 %>
                      <h1 class="fatpurpletitle">Bad</h1>
                    <% elsif @score < 60 %>
                      <h1 class="fatpurpletitle">Medium</h1>
                    <% elsif @score < 90 %>
                      <h1 class="fatpurpletitle">Good</h1>
                    <% else %>
                      <h1 class="fatpurpletitle">Very Good</h1>
                    <% end %>
                  </div>
                  <%= image_tag @google.photo, class:"datasource-logo" %>
                </div>
                <div class="meter">
                  <span style="width: <%= @datasource.score %>%; border: 1px solid #7551F3;"></span>
                </div>
                <p class="greytext">Privacy score</p>
                <%= link_to "Control", datasource_data_ownerships_path(@datasource), class: "small-button mt-5" %>
              </div>

              <h4 class="purpletitle">Your <%= @datasource.name%> Profile</h4>
              <div class="datasource-content" style="padding-bottom: 10px; padding-top: 10px;">
                <p class="greysubtitle">Ads Clicked</p>
                <p class="greysubtitle">405</p>
              </div>
              <div class="datasource-content" style="padding-bottom: 10px">
                <p class="greysubtitle">Companies shared with</p>
                <p class="greysubtitle"> <%= @datasource.data_ownerships.count %></p>
              </div>
              <div class="datasource-content" style="padding-bottom: 10px; border-bottom: 1px solid lightgrey;">
                <p class="greysubtitle">Data uploaded</p>
                <p class="greysubtitle"><%= (@datasource.size / 1000.0).round(2)  %> GB</p>
              </div>
              <div class="datasource-content" style="padding-top: 10px">
                <p class="purpletitle">Data Value</p>
                <p class="purpletitle"><%= @datasource.value.round(2)  %> €</p>

              </div>
            </div>

          </div>

          <%# when the user click on a insight %>
          <div class="insights-display opacity">
            <div class="displays">
              <div class="insights insights-map" id="locations-insights">
                <div>

                  <div class="card-boxless" style="padding: 0px; position: relative;  ">
                    <div class="insights-logo" style="left: 15px;"><i class="fas fa-map-marker-alt"></i></div>
                    <%= render "shared/searchbar" %>
                    <%# START : adding map to show user's locations %>
                    <div id="map"
                      data-markers="<%= @markers.to_json %>"
                      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                    </div>
                    <%# END : adding map to show user's locations %>

                  </div>
                </div>
              </div>
              <div class="insights" id="interests-insights">
                <div>

                  <div class="card-boxless">
                    <div class="insights-logo"><i class="fas fa-search"></i></i></div>
                    <p class="subtitle">Top searched words</p>
                    <div class="content" style="justify-content: space-evenly">
                      <% @chrome_search_words.first(3).each do |word| %>
                        <div class="title">
                          <p id="center">"<%= word.word %>"</p>
                            <div class="rectangle-container-vertical">
                              <div class="rectangle-fill-vertical" style="height: <%=(word.count*100)/@chrome_search_words.first.count %>%">
                              </div>
                            </div>
                          <p id="center"><%= word.count %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="card-boxless">
                    <p class="subtitle">Top visited links</p>
                    <% @chrome_visited_links.first(5).each do |word| %>
                      <div class="content">
                        <div class="title">
                          <p class="m-0 mr-5"><%= word.link %></p>
                          <div class="rectangle-container-horizontal">
                            <div class="rectangle-fill-horizontal" style="width: <%=(word.count*100)/@chrome_visited_links.first.count %>%">
                            </div>
                          </div>
                        </div>
                        <p class="m-0" id="link-count"><%= word.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>
                </div>
              </div>

              <div class="insights" id="ads-insights">
                <div>

                  <div class="card-boxless">
                    <div class="insights-logo"><i class="fas fa-dollar-sign"></i></i></div>
                    <p class="subtitle">Number of ads displayed</p>
                      <div class="circle-container">
                        <p class="m-0"><%= @clicked_advertisements.count %>
                      </div>
                  </div>

                  <div class="card-boxless", style="margin-top: 10px">
                    <p class="subtitle">Top clicked ads</p>
                    <% @clicked_advertisements.first(5).each do |ad| %>
                      <div class="content">
                        <p class="m-0 mr-5"><%= ad.link %></p>
                        <p class="m-0"><%= ad.count %></p>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>
                </div>
              </div>

              <div class="insights" id="yt-insights" style="z-index: 4;">
                <div>

                  <div class="card-boxless">
                    <div class="insights-logo"><i class="fab fa-youtube"></i></i></div>
                    <p class="subtitle">Top watched channels</p>

                    <% @youtube_video_channels.first(5).each do |channel| %>
                      <div class="content">
                        <div class="title">
                          <p class="m-0 mr-5"><%= channel.title %></p>
                          <div class="rectangle-container-horizontal">
                            <div class="rectangle-fill-horizontal" style="width: <%=(channel.count*100)/@youtube_video_channels.first.count %>%">
                            </div>
                          </div>
                        </div>
                        <p id="link-count"><%= channel.count %></p>
                      </div>
                    <% end %>
                  </div>


                  <div class="card-boxless">
                    <p class="subtitle">Top watched videos</p>
                    <% @youtube_video_titles.first(3).each do |video| %>
                      <div class="content" style="display: block">
                       <div class="content">
                       <p><%= video.title %></p>
                       <p>x<%= video.count %></p>
                       </div>
                        <div class="iframe-container">
                          <iframe width="560"
                                  height="315"
                                  src="https://www.youtube.com/embed/<%= video.url.match(/=(.*)/)[1]%>"
                                  title="YouTube video player"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen>
                          </iframe>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="scrollable">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="carousel">
    <div class="data-insights-container">

      <div class="data-insights-card current" id="digital-footprint">
        <i class="fas fa-shoe-prints" style="transform: rotate(-90deg)"></i>
        <h4 class="whitetitle mt-2 mb-0">Footprint</h4>
      </div>

      <div class="data-insights-card" id="locations">
        <i class="fas fa-map-marker-alt"></i>
        <h4 class="whitetitle mt-2 mb-0">Locations</h4>
      </div>

      <div class="data-insights-card" id="interests">
        <i class="fas fa-search"></i>
        <h4 class="whitetitle mt-2 mb-0">Search</h4>
      </div>

      <div class="data-insights-card" id="ads">
        <i class="fas fa-dollar-sign"></i>
        <h4 class="whitetitle mt-2 mb-0">Ads</h4>
      </div>

      <div class="data-insights-card" id="youtube-channels">
        <i class="fab fa-youtube"></i>
        <h4 class="whitetitle mt-2 mb-0">Youtube</h4>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>
