<div class="bottombar">

  <%= link_to datasource_path(datasource) do %>
    <div class= "bottombar-link" id="datasource-button">
      <%= image_tag "atom.png", class: "atom"%>
      <div class="greytext bottom-bar-text">Datasources</div>
    </div>
  <% end %>

  <%= link_to dashboard_path do %>
    <div class= "bottombar-link" id="dashboard-button">
      <%= image_tag "jicama-logo-white.png", class: "jicama-logo-bottom"%>
    </div>
  <% end %>

  <%= link_to datasource_data_ownerships_path(datasource, type_of_ownership: "accessor") do %>
    <div class= "bottombar-link" id="datacontrol-button">
      <%= image_tag "shield.png", class: "shield"%>
      <div class="greytext bottom-bar-text">Control</div>
    </div>
  <% end %>

</div>
