<%= render 'shared/navbar' %>
<div class="content-wrapper-with-bottombar">
  <div class="container", style="height: 82%;">
    <div class="row" style="height: 100%; padding-bottom: 10px;">
      <div class="col-12 col-lg-6" style="display: flex; flex-direction: column">
        <h4 class="app-header greysubtitle">Dashboard</h4>

        <div class="card-purple">
          <div class="display-score d-flex">
            <% if @score < 30 %>
              <h1 class="fatwhitetitle">Bad</h1>
            <% elsif @score < 60 %>
              <h1 class="fatwhitetitle">Medium</h1>
            <% elsif @score < 90 %>
              <h1 class="fatwhitetitle">Good</h1>
            <% else %>
              <h1 class="fatwhitetitle">Very Good</h1>
            <% end %>
            <button type="button" 
                  style="color: white;"
                  class= "button-info-white" 
                  data-trigger="focus" 
                  data-container="body" 
                  data-html="true"
                  data-toggle="popover" 
                  data-placement="left" 
                  data-content="Your privacy score is calculated based on the number of companies that have a restricted access to your personal data and the data you successfully deleted">
              <i class="far fa-question-circle"></i>
            </button>
          </div>
          <div class="display-score">
            <p class="whitetext">Privacy score</p>
            <p class="whitetext">Overall</p>
          </div>

          <div class="meter">
            <span style="width: <%= @score%>%;"></span>
          </div>
          <p class="whitetext">Since September</p>
        </div>

        <div class="d-flex justify-content-between my-1">
          <h4 class="greysubtitle">Data valuation</h4>
          <button type="button" 
                  class= "button-info-purple" 
                  data-trigger="focus" 
                  data-container="body" 
                  data-html="true"
                  data-toggle="popover" 
                  data-placement="left" 
                  data-content="<strong>Data value</strong> : the overall value of your data, more infos about the calculation method coming soon <br><br>
                                <strong>Value recovered</strong> : the value of the data you successfully recovered <br><br>
                                <strong>Companies restricted</strong> : the number of companies that no longer have access to your data">
            <i class="far fa-question-circle"></i>
          </button>
        </div>

        <div class="data-valuation">
          <div class="data-valuation-details" style="margin-bottom: 5%">
            <div class="data-valuation-logo">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Data value</p>
              <h4 class="purpletitle"><%= @value %> €</h4>
            </div>
            <p class="greytext">September</p>
          </div>

          <div class="data-valuation-details" style="margin-bottom: 5%">
            <div class="data-valuation-logo">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Value recovered</p>
              <h4 class="purpletitle">0,00 €</h4>
            </div>
            <p class="greytext">September</p>
          </div>

          <div class="data-valuation-details">
            <div class="data-valuation-logo">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Companies restricted</p>
              <h4 class="purpletitle"><%= DataOwnership.all.where(type_of_ownership: ["restricted","deleted"]).count %></h4>
            </div>
            <p class="greytext">All time</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <h4 class="greysubtitle">Datasources</h4>
  </div>

  <div class="carousel">
    <div class="datasource-selection">
      <%= link_to datasource_path(@google) do %>
        <div class="<%= 'non-downloaded-style' if @google.downloaded == false %> logo-design">
          <%= cl_image_tag("jicama/google_logo.png") %>
        </div>
      <% end %>
      <div class="<%= 'non-downloaded-style' if @facebook.downloaded == false %> logo-design">
        <div class="logo-plus"><i class="fas fa-plus"></i></div>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/bottombar', datasource: @google %>

