<%= render 'shared/navbar' %>
<div class="content-wrapper-with-bottombar">
  <div class="container">
    <div class="row" style="height: 100%; padding-bottom: 10px;">
      <div class="col-12 col-lg-6" style="display: flex; flex-direction: column">
        <div class="app-header d-flex justify-content-between mb-1">
          <h4 class="purplesubtitle">Privacy score</h4>
          <button type="button"
                  class= "button-info"
                  data-trigger="focus"
                  data-container="body"
                  data-html="true"
                  data-toggle="popover"
                  data-placement="left"
                  data-content="Your privacy score is calculated based on the number of companies that have a restricted access to your personal data and the data you successfully deleted">
            <i class="far fa-question-circle"></i>
          </button>
        </div>

        <div class="card-purple">
          <h1 class="purplesubtitle" style="text-align: center;">Overall score</h1>
          <div class="progress" data-percentage=<%= @score %>>
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
              <% if @score < 30 %>
              <div class="score-display">
                <h1 class="middleblacktitle"><%= @score %><span style="font-size: 18px; margin-left: 2px;">%</span></h1>
                <h1 class="smallblacktitle">bad</h1>
              </div>
              <% elsif @score < 60 %>
              <div class="score-display">
                <h1 class="middleblacktitle"><%= @score %><span style="font-size: 18px; margin-left: 2px;">%</span></h1>
                <h1 class="smallblacktitle">medium</h1>
              </div>
              <% elsif @score < 90 %>
              <div class="score-display">
                <h1 class="middleblacktitle"><%= @score %><span style="font-size: 18px; margin-left: 2px;">%</span></h1>
                <h1 class="smallblacktitle">good</h1>
              </div>
              <% else %>
              <div class="score-display">
                <h1 class="middleblacktitle"><%= @score %><span style="font-size: 18px; margin-left: 2px;">%</span></h1>
                <h1 class="smallblacktitle">very good</h1>
              </div>
              <% end %>
            </div>
          </div>
          <div class="privacy-container d-flex">
            <div class="social-bar d-flex">
              <i class="fab fa-google social-icons"></i>
              <div style="width: 100%;">
                <p class="smalltitle">Google score: <%= @score%><span style="font-size: 10px;">%</span></p>
                <div class="meter" style="margin-top: 0px; margin-bottom: 20px;">
                  <span style="width: <%= @score%>%;"></span>
                </div>
              </div>
            </div>
            <%# <div class="social-bar d-flex absent-source">
              <i class="fab fa-facebook-f social-icons"></i>
              <div class="meter absent-meter">
                <span style="width: 100%;"></span>
              </div>
            </div>
            <div class="social-bar d-flex absent-source">
              <i class="fab fa-instagram social-icons"></i>
              <div class="meter absent-meter">
                <span style="width: 100%;"></span>
              </div>
            </div> %>
            <div id="dashboard-connect" data-toggle="modal" data-target="#datasourceModal">
              Connect datasources
            </div>
          </div>
        </div>

        <div class="app-header d-flex justify-content-between mb-1">
          <h4 class="purplesubtitle">Data valuation</h4>
          <button type="button"
                  class= "button-info"
                  <%# data-trigger="focus" %>
                  data-container="body"
                  data-html="true"
                  data-toggle="popover"
                  data-placement="left"
                  data-content="<strong>Data value</strong> : the overall value of your data, more infos about the calculation method coming soon <br><br>
                                <strong>Value recovered</strong> : the value of the data you successfully recovered <br><br>
                                <strong>Companies restricted</strong> : the number of companies that no longer have access to your data">
            <i class="far fa-question-circle"></i>
          </button>
        </div>

        <div class="data-valuation">
          <div class="data-valuation-details">
            <div class="data-valuation-logo">
              <%= image_tag image_path("bills.png"), style: "height: 15px;" %>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Data value</p>
              <h4 class="blacktitle"><%= @value %> €</h4>
            </div>
            <p class="greytext">August</p>
          </div>

          <div class="data-valuation-details">
            <div class="data-valuation-logo">
              <i class="fas fa-chart-line" style="opacity: 0.8"></i>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Value recovered</p>
              <h4 class="blacktitle">0,00 €</h4>
            </div>
            <p class="greytext">August</p>
          </div>

          <div class="data-valuation-details">
            <div class="data-valuation-logo">
              <%= image_tag image_path("company.png"), style: "height: 20px;" %>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Companies restricted</p>
              <h4 class="blacktitle"><%= DataOwnership.all.where(type_of_ownership: ["restricted","deleted"]).count %></h4>
            </div>
            <p class="greytext">All time</p>
          </div>
          <div class="data-valuation-details">
            <div class="data-valuation-logo">
              <%= image_tag image_path("database.png"), style: "height: 22px;" %>
            </div>
            <div class="data-valuation-values">
              <p class="greytext">Overall data storage</p>
              <h4 class="blacktitle"><%= (@google.size / 1000.0).round(2)  %> GB</h4>
            </div>
            <p class="greytext">All time</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%# <div class="container">
    <div class="d-flex justify-content-between mb-1" style="margin-top: 5px;">
      <h4 class="purplesubtitle">Datasources</h4>
      <button type="button"
            class= "button-info"
            data-trigger="focus"
            data-container="body"
            data-html="true"
            data-toggle="popover"
            data-placement="left"
            data-content="Add a new Datasource to Jicama with your own credentials ">
        <i class="far fa-question-circle"></i>
      </button>
    </div>
  </div> %>

  <%# <div class="carousel" style="margin-bottom: 15px;">
    <div class="datasource-selection">
      <%= link_to datasource_path(@google) do %>
        <%# <div class="logo-design"> %>
          <%#= cl_image_tag("jicama/google_logo.png") %>
        <%# </div> %>
      <%# end %>

      <!-- Button trigger modal -->
      <%# <div class="logo-design" data-toggle="modal" data-target="#datasourceModal">
        <i class="fas fa-plus"></i>
      </div> %>
    <%# </div>
  </div> %>

</div>

<%= render 'shared/bottombar', datasource: @google %>

<!-- Modal -->
<div class="modal fade" id="datasourceModal" tabindex="-1" aria-labelledby="datasourceModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="fatpurpletitle" id="datasourceModalLabel">Link a datasource</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'datasources' %>
      </div>
    </div>
  </div>
</div>
