<div class="page-header">
  <h1>Dashboard</h1>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>

<div class="banner">
    <h1>Jicama</h1>
    <h3>Own your data, <br>own your future</h3>
    <%= image_tag "jicama-logo.png", class: "logo-sizing", style:"display: block; margin-bottom: 10px" %>
    <% if user_signed_in? == false %>
      <%= link_to "Join now", new_user_registration_path, class: "short-button" %>
      <% else %>
      <%= link_to "login", dashboard_path, class: "short-button" %>
    <% end %>

</div>

<div class="container", style="margin-top: 80px">
  <div class="row">
    <div class="col-12 col-lg-6">
    <h3 class="title-design black-background">Jicama leads the way to a user-centric and secure data economy</h3>
      <div class="list-align", style="margin-top: 50px">
        <div class="icons-aligned">
          <div class="text-center">
            <%= image_tag "flow.png", class: "mini-logo-sizing" %>
          </div>
          <p>Understand who owns <br>and uses your data</p>
        </div>
        <div class="icons-aligned">
          <div class="text-center">
            <%= image_tag "control.png", class: "mini-logo-sizing" %>
          </div>
        <p>Control your data flows</p>
        </div>
        <div class="icons-aligned">
          <div class="text-center">
            <%= image_tag "money.png", class: "mini-logo-sizing" %>
          </div>
        <p>Monetize your personal data</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container black-background", style="margin-top: 80px">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4 class="title-design">Take back control</h4>
      <h5 class="whitetitle">Just follow these 3 steps:</h5>
      <div class="cards">
        <h5>1. Collect</h5>
        <p>Collect data from your favorite websites and apps.</p>
      </div>
      <div class="cards">
        <h5>2. View</h5>
        <p>Get an overview of your digital footprint. Understand what companies know about your data.</p>
      </div>
      <div class="cards">
        <h5>3. Control</h5>
        <p>Choose which information companies can and can't access.</p>
      </div>
      <%- if controller_name != 'sessions' %>
        <div class="text-center">
          <%= link_to "Get started", root_path, class: "short-button" %><br />
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4 class="title-design">Let's data talk about data</h4>
      <%# source: https://dataprivacymanager.net/100-data-privacy-and-data-security-statistics-for-2020/ %>
      <p class="styling">84% care about privacy, their own data, the data of other members of society, and want more control over how their data is being used</p>
      <p class="styling">81% feel they have little or no control over the data collected</p>
      <p class="styling">79% have adjusted privacy-related settings on their social media accounts or reduced their social media usage</p>
      <p class="styling">Facebook owns 80% of the market share of social media platforms
      <p class="styling">Google owns 90% of the market share of search engines</p>
      <%- if controller_name != 'sessions' %>
        <div class="text-center">
          <%= link_to "Try it yourself", root_path, class: "short-button" %><br />
        </div>
      <% end %>
    </div>
  </div>
</div>
