<div class="banner">
    <h1>Jicama</h1>
    <h3>Own your data, <br>own your future</h3>
    <%= image_tag "jicama-logo.png", class: "logo-sizing", style:"display: block; margin-bottom: 10px" %>


    <% if user_signed_in? == false %>
      <%= link_to "Join now", new_user_session_path, class: "short-button" %>
    <% else %>
      <%= link_to "dashboard", dashboard_path, class: "short-button" %>
    <% end %>

</div>

<div class="container", style="margin-top: 80px">
  <div class="row">
    <div class="col-12 col-lg-6">
    <h3 class="title-design black-background">Jicama leads the way to a user-centric and secure data economy</h3>
      <div class="list-align", style="margin-top: 50px">
        <div class="icons-aligned">
          <div class="text-center">
            <%= image_tag "flow.png", class: "mini-logo-sizing" %>
          </div>
          <p>Understand who owns <br>and uses your data</p>
        </div>
        <div class="icons-aligned">
          <div class="text-center">
            <%= image_tag "control.png", class: "mini-logo-sizing" %>
          </div>
        <p>Control your <br>data flows</p>
        </div>
        <div class="icons-aligned">
          <div class="text-center">
            <%= image_tag "money.png", class: "mini-logo-sizing" %>
          </div>
        <p>Monetize your personal data</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container black-background", style="margin-top: 80px">
  <div class="row">
    <div class="col-12 col-lg-6 text-center box-sizing ">
      <h3 class="title-design", style="margin-bottom: 40px">Take back control</h3>
      <h5 class="whitetitle", style="color:#A5A5A5">Just follow these 3 steps:</h5>
      <div class="cards">
        <h5 class="whitetitle", style="margin-top: 35px">1. Collect</h5>
        <p class="greytext">Collect data from your favorite <br>websites and apps.</p>
      </div>
      <div class="cards">
        <h5 class="whitetitle", style="margin-top: 35px">2. View</h5>
        <p class="greytext">Get an overview of your digital footprint. Understand what companies know about your data.</p>
      </div>
      <div class="cards">
        <h5 class="whitetitle", style="margin-top: 35px">3. Control</h5>
        <p class="greytext">Choose which information companies can and can't access.</p>
      </div>
      <%- if controller_name != 'sessions' %>
        <div class="text-center margin-button">
          <%= link_to "Get started", root_path, class: "short-button" %><br />
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4 class="title-design-black">Let's data talk <br>about data</h4>
      <%# source: https://dataprivacymanager.net/100-data-privacy-and-data-security-statistics-for-2020/ %>
      <div class="styling">
        <div class="stat-big">84%</div>
        <div class="text-stat">care about data privacy <br>& want control over how their data is being used</div>
      </div>
      <div class="styling">
        <div class="text-stat-right">feel they have little or <br>no control over the data collected</div>
        <div class="stat-big">81%</div>
      </div>
      <div class="styling">
        <div class="stat-big">79%</div>
        <div class="text-stat">have adjusted privacy-related settings on their social media accounts</div>
      </div>
      <div class="styling">
        <div class="text-stat-right">Facebook market share of social media platforms</div>
        <div class="stat-big">80%</div>
      </div>
      <div class="styling">
        <div class="stat-big">90%</div>
        <div class="text-stat">Google market share <br>of search engines</div>
      </div>
      <%- if controller_name != 'sessions' %>
        <div class="text-center margin-button">
          <%= link_to "Try it yourself", root_path, class: "short-button" %><br />
        </div>
      <% end %>
    </div>
  </div>
</div>
