<%= render 'shared/navbar' %>

<div class="tuto-container">

  <div class="tuto" id="tuto-1">
    <div class="card-style">

      <h4 class="title-action">Sign in to Google Takeout</h4>
      <%= image_tag image_path("tuto-takeout.png") %>
      <div class="tuto-instructions">
        <p>Go on <%= link_to "Google Takeout", "https://takeout.google.com/settings/takeout?pli=1", target: :_blank%> and login <br>to your account</p>
      </div>

      <div class="tuto-end">
        <div class="dots">
          <div class="dot-fill"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
        </div>
        <%= link_to "Next", tuto_path(@google, anchor: "tuto-2"), class:"next-button"%>
      </div>
    </div>
  </div>


  <div class="tuto" id="tuto-2">
    <div class="card-style">
      <h4 class="title-action">Select the relevant files</h4>
      <%= image_tag image_path("tuto-select.png") %>
      <div class="tuto-instructions">
        <p>Unselect default options and <br>make sure you select :</p>
        <div class="row align-items-start">
          <div class="col">
            <ul>
              <li>Chrome</li>
              <li>Profile</li>
              <li>YouTube</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>My Activity</li>
              <li>Location History</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tuto-end">
        <div class="dots">
          <div class="dot-empty"></div>
          <div class="dot-fill"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
        </div>
        <%= link_to "Next", tuto_path(@google, anchor: "tuto-3"), class:"next-button"%>
      </div>
    </div>
  </div>



  <div class="tuto" id="tuto-3">
    <div class="card-style">
      <h4 class="title-action">Export your personal data</h4>
      <%= image_tag image_path("tuto-download.png") %>
      <div class="tuto-instructions">
        <p>Click on "create export" and make sure frequency is set as 1 export</p>
      </div>
      <div class="tuto-end">
        <div class="dots">
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
          <div class="dot-fill"></div>
          <div class="dot-empty"></div>
        </div>
        <%= link_to "Next", tuto_path(@google, anchor: "tuto-4"), class:"next-button"%>
      </div>
    </div>
  </div>



  <div class="tuto" id="tuto-4">
    <div class="card-style">

      <h4 class="title-action">Upload your personal data</h4>
      <%= image_tag image_path("tuto-upload.png") %>
      <div class="tuto-instructions">
        <p>You are almost set!</p>


        <%#= simple_form_for @datasource do |f| %>
          <%# <div class="upload-file-btn"> %>
              <%#= f.label "Your files" %>
              <%#= f.input :photo, as: :file, input_html: { multiple: true, class: "hidden" }, label: "Upload your files" %>
          <%# </div> %>
        <%# end %>
      </div>
      <div class="tuto-end">
        <div class="dots">
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
          <div class="dot-fill"></div>
        </div>
        <%= link_to "Done", datasource_path(@google), class:"done-button" %>
        </div>
      </div>
    </div>
  </div>

</div>
