<%= render 'shared/navbar' %>

<div class="tuto-container">

 <div class="tuto" id="tuto-0">
    <div class="card-style">

      <h4 class="title-action">Tutorial</h4>
      <%= image_tag image_path("tuto-follow.png") %>
      <div class="tuto-instructions">
        <p>Follow the steps to get started with your Google data !</p></p>
      </div>

      <div class="tuto-end">
        <%= link_to "Start", "#tuto-1", class:"next-button", data: { turbolinks: false } %>
      </div>
    </div>
  </div>

  <div class="tuto" id="tuto-1">
    <div class="card-style">

      <h4 class="title-action">Sign in to Google Takeout</h4>
      <%= image_tag image_path("tuto-takeout.png") %>
      <div class="tuto-instructions">
        <p>Go on <%= link_to "Google Takeout", "https://takeout.google.com/settings/takeout?pli=1", target: :_blank%> and login <br>to your account</p>
      </div>

      <div class="tuto-end">
        <div class="dots">
          <div class="dot-fill"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
        </div>
        <%= link_to "Next", "#tuto-2", class:"next-button", data: { turbolinks: false } %>
      </div>
    </div>
  </div>


  <div class="tuto" id="tuto-2">
    <div class="card-style">
      <h4 class="title-action">Select the relevant files</h4>
      <%= image_tag image_path("tuto-select.png") %>
      <div class="tuto-instructions">
        <p>Unselect default options and <br>make sure you select :</p>
        <div class="row align-items-start">
          <div class="col", style="padding: 0px;">
            <ul>
              <li>Chrome</li>
              <li>Profile</li>
            </ul>
          </div>
          <div class="col", style="padding: 0px;">
            <ul>
              <li>My Activity</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tuto-end">
        <div class="dots">
          <div class="dot-empty"></div>
          <div class="dot-fill"></div>
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
        </div>
        <%= link_to "Next", "#tuto-3", class:"next-button", data: { turbolinks: false } %>
      </div>
    </div>
  </div>



  <div class="tuto" id="tuto-3">
    <div class="card-style">
      <h4 class="title-action">Export your personal data</h4>
      <%= image_tag image_path("tuto-download.png") %>
      <div class="tuto-instructions">
        <p>Click on "create export" and make sure frequency is set as 1 export</p>
      </div>
      <div class="tuto-end">
        <div class="dots">
          <div class="dot-empty"></div>
          <div class="dot-empty"></div>
          <div class="dot-fill"></div>
          <div class="dot-empty"></div>
        </div>
        <%= link_to "Next", "#tuto-4", class:"next-button", data: { turbolinks: false } %>
      </div>
    </div>
  </div>

  <div class="tuto" id="tuto-4">
    <div class="card-style">

      <h4 class="title-action">Give access to Gmail</h4>
      <%= image_tag image_path("tuto-company.png") %>
      <div class="tuto-instructions">
        <p>Jicama use gmail to track those who have access to your data</p>
      </div>
        <div class="tuto-end">
          <div class="dots">
            <div class="dot-empty"></div>
            <div class="dot-empty"></div>
            <div class="dot-empty"></div>
            <div class="dot-fill"></div>
          </div>
        <%= link_to "Connect to Google", @url,  class:"google-button", data: { turbolinks: false } %>
        </div>
    </div>
  </div>


  <div class="tuto" id="tuto-5">
    <div class="card-style">

      <h4 class="title-action">You are almost set!</h4>
      <%= image_tag image_path("tuto-upload.png") %>
      <div class="tuto-instructions">
        <p>Upload your personal data</p>
        <%= simple_form_for @datasource do |f| %>
          <%= f.input :file, as: :file, input_html: { class: "hidden" }, label: "Choose file", label_html: { class:"upload-button" } %>
          <%= f.input :language, as: :select, input_html: { class: "form-select" }, :collection => Datasource::LANGUAGES, label_html: { class:"d-none" }, selected: "English" %>
      </div> <%# This is closing the "tuto-instruction" div %>
          <div class="tuto-end">
            <div id="uploadfile">
              <%= f.submit "Upload" %> <%# This has to be inside the "tuto-end" div while being in simple_form %>
            </div>
          </div>
        <% end %> <%# This is closing the simple_form %>
    </div>
  </div>
</div>
