<div class="d-flex justify-content-between mb-2">
  <h4 class="purpletitle mb-0">Configure Auto-Filter</h4>
  <button type="button" 
          class= "button-info-purple" 
          data-trigger="focus" 
          data-container="body" 
          data-html="true"
          data-toggle="popover" 
          data-placement="left" 
          data-content="The privacy cockpit enables you the possibility to automatically control the access of all the companies that deal with your personal data thanks to your preferences below">
    <i class="far fa-question-circle"></i>
  </button>
</div>
<div class="autofilter-setting">
  <p class="greytext">Sensitive info denial</p>
  <div class="custom-control custom-switch">
    <%= form_with url: dashboard_path, method: :get do |f| %>
    <%# If the auto-filter should work, we need to add a field for it in the DB for the User true<>false --> handled via controller user (parked for now as we don't even know how to categories companies%>
      <%= f.check_box :auto_filter, class:"custom-control-input", id:"sensitiveinfoswitch"  %>
      <label class="custom-control-label" for="sensitiveinfoswitch"></label>
      <%= f.submit "Test", class: "d-none" %>
    <% end %>
  </div>
</div>
<div class="autofilter-setting">
  <p class="greytext">Sell Data Securely</p>
  <div class="custom-control custom-switch">
    <%= form_with url: dashboard_path, method: :get do |f| %>
    <%# If the auto-filter should work, we need to add a field for it in the DB for the User true<>false --> handled via controller user (parked for now as we don't even know how to categories companies%>
      <%= f.check_box :auto_filter, class:"custom-control-input", id:"selldataswitch"  %>
      <label class="custom-control-label" for="selldataswitch"></label>
      <%= f.submit "Test", class: "d-none" %>
    <% end %>
  </div>
</div>
<div class="autofilter-setting">
  <p class="greytext">Blabla</p>
  <div class="custom-control custom-switch">
    <%= form_with url: dashboard_path, method: :get do |f| %>
    <%# If the auto-filter should work, we need to add a field for it in the DB for the User true<>false --> handled via controller user (parked for now as we don't even know how to categories companies%>
      <%= f.check_box :auto_filter, class:"custom-control-input", id:"blablaswitch"  %>
      <label class="custom-control-label" for="blablaswitch"></label>
      <%= f.submit "Test", class: "d-none" %>
    <% end %>
  </div>
</div>
<div class="autofilter-setting">
  <p class="greytext">Blabla</p>
  <div class="custom-control custom-switch">
    <%= form_with url: dashboard_path, method: :get do |f| %>
    <%# If the auto-filter should work, we need to add a field for it in the DB for the User true<>false --> handled via controller user (parked for now as we don't even know how to categories companies%>
      <%= f.check_box :auto_filter, class:"custom-control-input", id:"blablablaswitch"  %>
      <label class="custom-control-label" for="blablablaswitch"></label>
      <%= f.submit "Test", class: "d-none" %>
    <% end %>
  </div>
</div>
