<%= render 'shared/navbar' %>
<div class="content-wrapper-with-bottombar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">

        <div class="app-header d-flex justify-content-between mb-1">
          <h4 class="purplesubtitle">Privacy control</h4>
          <a role="button"
              tabindex="0"
              class= "button-info"
              data-trigger="focus"
              data-container="body"
              data-html="true"
              data-toggle="popover"
              data-placement="left"
              data-content="For each company below, you can either choose to <em>restrict</em> or <em>delete</em> their access to your data individually, or you can rely on the <strong>autofilter</strong> to deal with every company at once according to your preferences ! <br>
                                  <hr>
                                  <strong>Accessors</strong> : companies that have access to your data <br><br>
                                  <strong>Buyers</strong> : companies that have bought the access to your data <br><br>
                                  <strong>Restricted</strong> : companies that don't have access to your data anymore but may still have your former data <br><br>
                                  <strong>Deleted</strong> : companies that neither have access to your data nor have any data about you
                                  ">
              <i class="far fa-question-circle"></i>
          </a>
        </div>
        <div class="card-purple" id="datacontrol-purple-card">
          <div class="d-none">
            <%= form_with url: filter_data_ownerships_path, method: :patch do |f| %>
            <%# If the auto-filter should work, we need to add a field for it in the DB for the User true<>false --> handled via controller user (parked for now as we don't even know how to categories companies%>
              <%= f.submit "auto filter", id: "auto-submit" %>
            <% end %>
          </div>
          <div class="small-button mr-2" id="auto-filter">Auto-filter</div>

            <!-- Button trigger modal -->
            <div data-toggle="modal" data-target="#exampleModal" id= "button-setting-autofilter">
              <i class="fas fa-cog"></i>
            </div>

        </div>
        <div class="d-flex justify-content-between mt-4">
          <div class="carousel">
            <ul class="list-inline tabs-underlined">
              <li>
                <%= link_to "Accessors", datasource_data_ownerships_path(@datasource, type_of_ownership: "accessor"), class: "tab-underlined #{'active' if ( params[:type_of_ownership] == "accessor" || params[:type_of_ownership].nil? )}", id: "accessors-tab" %>
              </li>
              <li>
                <%= link_to "Buyers", datasource_data_ownerships_path(@datasource, type_of_ownership: "buyer"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "buyer"}", id: "buyers-tab" %>
              </li>
              <li>
                <%= link_to "Restricted", datasource_data_ownerships_path(@datasource, type_of_ownership: "restricted"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "restricted"}", id: "restrictions-tab" %>
              </li>
              <li>
                <%= link_to "Deleted", datasource_data_ownerships_path(@datasource, type_of_ownership: "deleted"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "deleted"}", id: "deletion-tab" %>
              </li>
              <li>
                <%= link_to "All", datasource_data_ownerships_path(@datasource, type_of_ownership: "all"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "all"}", id: "all-tab"%>
              </li>
            </ul>
          </div>

          <!--
          <div>
          <%#= Datasource.find(data_ownership.datasource_id).name %>
          <%= image_tag @datasource.photo, class:"rounded-google-logo" %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Control
            </button>
          </div>
          -->

        </div>
        <hr>
        <% @data_ownerships.each do |data_ownership| %>
          <div class="card-style datacontrol-card">
            <div class="company-rating-btn">
              <div>
                <% if data_ownership.company.rating == 1 %>
                  <div class="fas fa-circle fa-lg", style="color: #007C64;">
                  </div>
                <% end %>
                <% if data_ownership.company.rating == 3 %>
                  <div class="fas fa-circle fa-lg", style="color: #DB0000;">
                  </div>
                <% end %>
                <% if data_ownership.company.rating == 2  %>
                  <div class="fas fa-circle fa-lg", style="color: #FCB111;">
                  </div>
                <% end %>
              </div>
              <div style="margin-left: 10px">
                <strong><%= Company.find(data_ownership.company_id).title %></strong>
              </div>
            </div>
            <div>
              <!-- Button trigger modal -->
              <button type="button" class="small-button" data-toggle="modal" data-target="#modal-<%= data_ownership.id %>">
                Control
              </button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="modal-<%= data_ownership.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="fatpurpletitle" id="title-modal-<%= data_ownership.id %>"><%= Company.find(data_ownership.company_id).title.capitalize %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="mb-2 d-flex">
                    <strong style="font-size: 14px">Level of trust: </strong>
                    <div>
                      <% if data_ownership.company.rating == 1 %>
                        <div style="color: #007C64; font-size: 14px; margin-left: 10px; font-weight: bolder;">High</div>
                      <% end %>
                      <% if data_ownership.company.rating == 3 %>
                        <div style="color: #DB0000; font-size: 14px; margin-left: 10px; font-weight: bolder;">Low</div>
                      <% end %>
                      <% if data_ownership.company.rating == 2  %>
                        <div style="color: #FCB111; font-size: 14px; margin-left: 10px; font-weight: bolder;">Medium</div>
                      <% end %>
                    </div>
                  </div>
                  <div class="greytext">
                    <%=Company.find(data_ownership.company_id).description %>
                  </div>
                  <hr>
                  <strong style="font-size: 14px">Who did they get my data from?</strong>
                  <%= cl_image_tag @datasource.photo.key, class:"datasource-logo ml-3" %>
                  <hr>
                  <div class="mb-3 d-flex"><strong style="font-size: 14px">Current status: &ensp;<%= data_ownership.type_of_ownership.capitalize %></strong></div>
                  <div class="restrict d-flex justify-content-between">
                    <div style="margin-bottom: 25px;">
                      <% if data_ownership.type_of_ownership == "restricted" || data_ownership.type_of_ownership == "deleted" %>
                        <div class="small-button small-button-green" style="width: 75px;">
                          <%= button_to "Allow", datasource_data_ownership_path(@datasource, data_ownership, data_ownership: {type_of_ownership: "accessor"} ), method: 'patch' %>
                        </div>
                      <% else %>
                        <div class="small-button small-button-yellow" style="width: 75px;">
                          <%= button_to "Restrict", datasource_data_ownership_path(@datasource, data_ownership, data_ownership: {type_of_ownership: "restricted"} ), method: 'patch' %>
                        </div>
                      <% end %>
                    </div>
                    <% if data_ownership.type_of_ownership == "restricted" || data_ownership.type_of_ownership == "deleted" %>
                      <p class="greytext ml-3" style="width: 230px"><%= Company.find(data_ownership.company_id).title.capitalize %> will have access to your data via Google.</p>
                    <% else %>
                      <p class="greytext ml-3" style="width: 230px">No further data will be shared via Google with <%= Company.find(data_ownership.company_id).title.capitalize %>.</p>
                    <% end %>
                  </div>
                  <div class="delete d-flex justify-content-between mb-3">
                    <div>
                      <% if data_ownership.type_of_ownership == "deleted" %>
                        <div class="small-button small-button-red" style="border-color: #fb9d9d; width: 75px;">
                          <%= button_to "Delete", datasource_data_ownership_path(@datasource, data_ownership, data_ownership: {type_of_ownership: "deleted"} ), method: 'patch', disabled: true %>
                        </div>
                      <% else %>
                        <div class="small-button small-button-red" style="width: 75px;">
                          <%= button_to "Delete", datasource_data_ownership_path(@datasource, data_ownership, data_ownership: {type_of_ownership: "deleted"} ), method: 'patch' %>
                        </div>
                      <% end %>
                    </div>
                    <p class="greytext ml-3" style="width: 230px">Jicama will contact <%= Company.find(data_ownership.company_id).title.capitalize %> in your name to delete the data they collected of you.</p>
                  </div>
                  <%#= render 'form', datasource: @datasource, data_ownership: data_ownership %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <%# <div class="modal-dialog modal-dialog-scrollable">
          ...
        </div> %>


      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="fatpurpletitle" id="exampleModalLabel">Privacy cockpit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'button' %>
      </div>
      <div class="modal-footer">
        <div class="small-button-white" data-dismiss="modal">Save</div>
      </div>
    </div>
  </div>
</div>
