<div class="content-wrapper-with-bottombar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">

        <div class="page-header">
          <h1><%= @datasource.name %> Data</h1>
          <% if user_signed_in? %>
            <div class="dropdown">
              <a class="profile dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag image_path('empty-profile.png'), class: "avatar" %>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Update profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </div>
        <div class="card-purple" id="datacontrol-purple-card">
          <div class="d-flex">
            <i class="fab fa-google mr-3" style="font-size: 24px; color: white;"></i>
            <h5 class="whitetitle my-0" style="align-self: center; padding-top: 1px;">Auto-Filter</h5>
          </div>
          <div class="d-flex">
            <% if params[:auto_filter] == "0" %>
              <%= link_to "Adjust", datasource_path(@datasource), class: "buttonpurple" %>
            <% else %>
            <% end %>
            <div class="custom-control custom-switch">
              <%= form_with url: datasource_data_ownerships_path(@datasource), id:"auto-filter-form", method: :get do |f| %>
              <%# If the auto-filter should work, we need to add a field for it in the DB for the User true<>false --> handled via controller user (parked for now as we don't even know how to categories companies%>
                <%= f.check_box :auto_filter, class:"custom-control-input", id:"customSwitch1", value: params[:auto_fitler]  %>
                <label class="custom-control-label" for="customSwitch1"></label>
                <%= f.submit "Test", class: "d-none" %>
              <% end %>
            </div>
            <button type="button" 
                    style="color: white; padding-top: 1px;"
                    id= "button-info" 
                    data-trigger="focus" 
                    data-container="body" 
                    data-html="true"
                    data-toggle="popover" 
                    data-placement="left" 
                    data-content="For each company below, you can either choose to <em>restrict</em> or <em>delete</em> their access to your data individually, or you can rely on the <strong>autofilter</strong> to deal with every company at once according to your preferences ! <br><br>
                                  <a href='/dashboard' class='buttontext'>Go to privacy cockpit</a>
                                  <hr>
                                  <strong>Accessors</strong> : companies that have access to your data <br><br>
                                  <strong>Buyers</strong> : companies that have bought the access to your data <br><br>
                                  <strong>Restricted</strong> : companies that don't have access to your data anymore but may still have your former data <br><br>
                                  <strong>Deleted</strong> : companies that neither have access to your data nor have any data about you
                                  ">
                <i class="far fa-question-circle"></i>
              </button>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <div class="carousel">
            <ul class="list-inline tabs-underlined">
              <li>
                <%= link_to "All", datasource_data_ownerships_path(@datasource, type_of_ownership: "all"), class: "tab-underlined #{'active' if ( params[:type_of_ownership] == "all" || params[:type_of_ownership].nil? )}", id: "all-tab"%>
              </li>
              <li>
                <%= link_to  "Accessors", datasource_data_ownerships_path(@datasource, type_of_ownership: "accessor"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "accessor"}", id: "accessors-tab" %>
              </li>
              <li>
                <%= link_to  "Buyers", datasource_data_ownerships_path(@datasource, type_of_ownership: "buyer"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "buyer"}", id: "buyers-tab" %>
              </li>
              <li>
                <%= link_to  "Restrictions", datasource_data_ownerships_path(@datasource, type_of_ownership: "restricted"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "restricted"}", id: "restrictions-tab" %>
              </li>
              <li>
                <%= link_to  "Deletion", datasource_data_ownerships_path(@datasource, type_of_ownership: "deleted"), class: "tab-underlined #{'active' if params[:type_of_ownership] == "deleted"}", id: "deletion-tab" %>
              </li>
            </ul>
          </div>

          <!--
          <div>
          <%#= Datasource.find(data_ownership.datasource_id).name %>
          <%= image_tag @datasource.photo, class:"rounded-google-logo" %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Control
            </button>
          </div>
          -->

        </div>
        <hr>
        <% @data_ownerships.each do |data_ownership| %>
          <div class="card-style datacontrol-card">
            <div class="company-rating-btn">
              <div>
                <% if data_ownership.company.rating == 1 %>
                  <div class="fas fa-circle fa-lg", style="color:green">
                  </div>
                <% end %>
                <% if data_ownership.company.rating == 3 %>
                  <div class="fas fa-circle fa-lg", style="color:red">
                  </div>
                <% end %>
                <% if data_ownership.company.rating == 2  %>
                  <div class="fas fa-circle fa-lg", style="color:orange">
                  </div>
                <% end %>
              </div>
              <div style="margin-left: 10px">
                <strong><%= Company.find(data_ownership.company_id).title.capitalize %></strong>
              </div>
            </div>
            <div>
              <!-- Button trigger modal -->
              <button type="button" class="small-button" data-toggle="modal" data-target="#modal-<%= data_ownership.id %>">
                Control
              </button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="modal-<%= data_ownership.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="fatpurpletitle" id="title-modal-<%= data_ownership.id %>"><%= Company.find(data_ownership.company_id).title.capitalize %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="mb-2 d-flex"><strong style="font-size: 14px">Data Status: <%= data_ownership.type_of_ownership.capitalize %></strong></div>
                  <div class="greytext">
                    <%=Company.find(data_ownership.company_id).description %>
                  </div>
                  <hr>
                  <strong style="font-size: 14px">Who did they get my data from?</strong>
                  <%= image_tag @datasource.photo, class:"datasource-logo ml-3" %>
                  <hr>
                  <div class="restrict d-flex justify-content-between">
                    <div style="width: 125px; margin-bottom: 25px;">
                      <div class="small-button">
                        <%= button_to "Restrict", datasource_data_ownership_path(@datasource, data_ownership, data_ownership: {type_of_ownership: "restricted"} ), method: 'patch' %>
                      </div>
                    </div>
                    <p class="greytext ml-3">No further data will be shared via Facebook with <%= Company.find(data_ownership.company_id).title.capitalize %>.</p>
                  </div>
                  <div class="delete d-flex justify-content-between mb-3">
                    <div style="width: 125px">
                      <div class="small-button">
                        <%= button_to "Deletion", datasource_data_ownership_path(@datasource, data_ownership, data_ownership: {type_of_ownership: "deleted"} ), method: 'patch' %>
                      </div>
                    </div>
                    <p class="greytext ml-3">Jicama will contact <%= Company.find(data_ownership.company_id).title.capitalize %> in your name to delete the data they collected of you.</p>
                  </div>
                  <%#= render 'form', datasource: @datasource, data_ownership: data_ownership %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <%# <div class="modal-dialog modal-dialog-scrollable">
          ...
        </div> %>


      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>
